nav{
    background-color: #ffff33;
}
nav ul {
    list-style: none;
}
nav ul ul {
    position : absolute;
    padding : 0;
    display : none;
}
nav ul li {
    float : left;
}
nav ul li:hover{
    background-color:  #ffcc99;
}
nav ul li ul li{
    float : none;
    text-align: left;
}
nav ul li:hover>ul{
    display: block;
}
nav ul li a{
    text-decoration: none;
    font-weight: bolder;
    padding: 0 15px;
}
nav ul li a:hover{
    text-decoration: underline;
}